<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TitanPackages" value="https://artifactory.softwaretools.resideo.com/artifactory/api/nuget/Project-Titan-29764-unstable-nuget-local" />
    <add key="Artifactory" value="https://artifactory.softwaretools.resideo.com/artifactory/api/nuget/alarmnet-nuget-stable-local" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
