<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="http_proxy" value="http://10.80.209.32:80" />
    <add key="https_proxy" value="http://10.80.209.32:80" />
    <add key="no_proxy" value="artifactory-na.honeywell.com" />
  </config>
  <packageSources>
    <add key="Artifactory" value="https://artifactory-na.honeywell.com/artifactory/api/nuget/alarmnet-nuget-stable-local" />
    <add key="nugetv3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>